# IDE specific
.idea/
.vscode/
1.1-first-project/first_project/.vscode
1.1-first-project/first_project/env_firstpr

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.sqlite3
env/
venv/
.venv/

### Project specific ###
settings_local.py

### OS specific ###
.DS_Store


